*.egg-info
TransformParameters.0.txt
*.tif
*.pdf
.idea
/build/
/dist/
/target/
/venv*/
*.czi
/FocusFeedbackGUI_setup.exe
/focusfeedbackgui/functions_rs.pyd
/Cargo.lock
*.so
# ask Zeiss for a license for Zen Blue
/focusfeedbackgui/microscopes/zen_blue.py
